@font-face {
 font-family: 'Ubuntu';
 src: url('/font/ubuntu-regular.eot');
 src: url('/font/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
 url('/font/ubuntu-regular-webfont.woff') format('woff'),
 url('/font/ubuntu-regular-webfont.ttf') format('truetype'),
 url('/font/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'OpenDyslexic';
 src: url('/font/OpenDyslexic-Regular.eot');
 src: url('/font/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
 url('/font/OpenDyslexic-Regular.woff') format('woff'),
 url('/font/OpenDyslexic-Regular.ttf') format('truetype'),
 url('/font/OpenDyslexic-Regular.svg#ubunturegular') format('svg');
 font-weight: normal;
 font-style: normal;
}

.h4_page { margin:30px; font-family: 'ubuntu'; font-size: 10pt; direction:ltr; }
.h4_footer { margin:20px; text-align:center; font-size: 80%; }
.h4_footer .w3cpix { display:inline-block; width:270px; height:50px; vertical-align:top; float:left; }
#tinyScreen { display:none; }
h1, .h1 { font-size:2.3rem; }
.blocker { clear:both; width:90%; }
.h4_menu { display:inline-block; text-align:right; margin-left:auto; }
.h4_menu legend { width:100%; display:inline-block; }
.h4_lean { max-width: 250px; overflow: hidden; overflow-wrap: break-word; list-style-type: none; margin: 0; padding-left: 0; }
.h4_odd { background-color:white; }
.h4_menu.column { flex: 1 1 0px; }
.h4_title.column { flex: 4 1 0px; }
#bigScreen.row { max-width:96%;}
#pageMenu { margin-right:-1.2rem; }
.burgerMenu { display:none; background-color:white; padding:1rem; list-style:none; }
.burgerMenuOpen { display:block; z-index:2; position:absolute; top:60px; right:69px; border:#aaa solid 1px; }
i.fa { font-size:130%; vertical-align:center; }
i.fa-remove { background-color:white; padding:3px; padding-left:7px; padding-bottom:7px; z-index:1; border:#aaa solid 1px; border-bottom:0px; border-left:0px;  }
.button { padding:0.65em 1em; }
.wholeArticle { display: -webkit-box; -webkit-flex-direction: column; display: -moz-box; -moz-flex-direction: column; display: -ms-flexbox; -ms-flex-direction: column; display: -webkit-flex; display: flex; flex-direction: column; }
.articleHeader { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-flex-order: 0; -webkit-order: 0; order: 0; }
.articleContent { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-flex-order: 1; -webkit-order: 1; order: 1; }


@media screen and (max-width:700px) {
	#tinyScreen { display:block; }
	#bigScreen { display:none; }
}
